.service-card {

    background-color: var(--colour-background-servicecard);

    border-radius: 16px;

    height: 100%;

    overflow: hidden;
    display: flex;
}


.service-card-content {

    padding: 40px 32px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;
}


.service-card-image {

    width: 100px;
    height: 100px;

    object-fit: contain;

    margin: 0 auto 24px;
}


.service-card h3 {

    color: var(--colour-text-light);

    margin-bottom: 20px;
}


.service-card p {

    color: var(--colour-text-light);

    text-align: left;

    line-height: 1.7;

    flex-grow: 1;
}