.about {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    background: var(--colour-background-white);
    border-radius: 64px 64px 0 0;
    overflow: hidden;
    padding: 80px 24px 40px;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.about-heading {
    flex: 0 0 35%; 
}

.about-content {
    flex: 1;
}

.about-heading h1 {
    margin: 0;
    line-height: 1.6;
}

.about-content p {
    line-height: 1.8;
    margin-bottom: 24px;
}

@media (max-width: 768px) {

    .about-container {
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
    }

    .about-heading {
        width: 100%;
        text-align: center;
    }

    .about-content {
        width: 100%;
        text-align: left;
    }

    .about {
        border-radius: 40px;
        margin-top: -40px;
        padding: 48px 20px;
    }
}